@using UserManagement.WebUI.ViewModels.Users

@model UsersVm

@{
    // todo GSA hardcoded text in <th> could be compiled
    // todo GSA name="name" in input button could be compiled

    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Data management</h1>

<p><a href="@Url.Action("CreateRandom", "Users")">Create</a> a randomly generated user.</p>
<p><a href="@Url.Action("Load", "Users")">Load</a> the list of users from the last time it was saved.</p>
<p><a href="@Url.Action("Save", "Users")">Save</a> the list of users for later.</p>

<h1>List of users</h1>

<form action="@Url.Action("Index", "Users")">
  <input type="text" placeholder="Name of user" name="name" value="@Model.SearchName">
  <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model.Users)
{
        <tr>
            <td><a href="@Url.Action("Display", "Users", new { user.Id } )">@user.Name</a></td>
            <td>@user.Age</td>
            <td>@user.Gender</td>
        </tr>
}
    </tbody>
</table>

<p>
@foreach (var paginate in Model.Pagination.Pages)
{
    @if(paginate.IsClickable)
    {
        <a href="@Url.Action("Index", "Users", paginate.UrlParameters)">@paginate.LinkText</a> 
    }
    else
    {
        <span>@paginate.LinkText</span>
    }
}
</p>